<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Balances</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('paychecks') }}">Paychecks</a></li>
        </ul>
    </nav>
    <div class="balances">
        <h1>Account Balances</h1>
        {% for account, balance in balances.items() %}
        <div class="account">
            <h2>{{ account }} Account</h2>
            <div class="account-value">${{ "%.2f"|format(balance) }}</div>
        </div>
        {% endfor %}
    </div>
</body>
</html>